<html>
  <head>
    <title>Add to Tracking</title>
  </head>
  <body>
    <form action="/add" method="post">
      Courier ID:
      {{ form.cid }}
      <br>
      Receiver Name:
      {{ form.receiver }}
      <br>
      Receiver Address:
      {{ form.raddr}}
      <br>
      Receiver Mobile:
      {{ form.rcell }}
      <br>
      Received Date:
      {{ form.date }}
      <br>
      Current Status:
      {{ form.status }}
      <br>
      Sender Name:
      {{ form.sender }}
      <br>
      Sender Address:
      {{ form.saddr }}
      <br>
      Sender Mobile:
      {{ form.scell }}
      <br>
      Courier Weight:
      {{ form.wt }}
      <br>
      Courier Length:
      {{ form.length }}
      <br>
      Courier Breath:
      {{ form.breath }}
      <br>
      Courier Height:
      {{ form.height }}
      <br>
      Identification Marks:
      <br>
      {{ form.idmarks }}
      <br>
      {{ form.submit }}
    </form>
  </body>
</html>
