<html>
<head>
  <title>Add a courier</title>
</head>
<body>
  <form action = 'add' method='post'>
    Courier ID:
    <input type='text' name='cid'><br>
    Receiver Name:
    <input type='text' name='receiver'><br>
    Receiver Address:
    <input type='text' name='raddr'><br>
    Receiver Mobile:
    <input type='number' name='rcell'><br>
    Current Status:
    <input type='text' name='status'><br>
    Sender Name:
    <input type='text' name='sender'><br>
    Sender Address:
    <input type='text' name='saddr'><br>
    Sender Mobile:
    <input type='number' name='scell'><br>
    Courier Weight:
    <input type='realnumber' name='wt'><br>
    Courier Length:
    <input type='realnumber' name='length'><br>
    Courier Breath:
    <input type='realnumber' name='breath'><br>
    Courier Height:
    <input type='realnumber' name='height'><br>
    Identification Marks:
    <br>
    <textarea rows='5' cols='50' name='idmarks'>
      Enter physical identification marks such as torn, scratched, pierced, damaged etc here
    </textarea>
    <br>
    <input type='submit'>
  </form>
</html>
