#opsq {
  position: fixed;
  display: block;
  height: 500px;
  width: 500px;
  border: 5px solid black;
  border-radius: 15px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.option {
  position: absolute;
  display: block;
  height: 219px;
  width: 219px;
  padding: 15px 15px 15px 15px;
  text-align: center;
  font-size: 70px;
}

#op1 {
  top: 0px;
  left: 0px;
  border-right: 1px solid red;
  border-bottom: 1px solid red;
}
 #op2 {
   top: 0px;
   left: 250px;
   border-left: 1px solid red;
   border-bottom: 1px solid red;
 }

 #op3 {
   top: 250px;
   left: 0px;
   border-top: 1px solid red;
   border-right: 1px solid red;
 }

#op4 {
  top: 250px;
  left: 250px;
  border-top: 1px solid red;
  border-left: 1px solid red;
}
